<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: base_header(~{::link},'Home')">
<link href="/stylesheets/jquery.bootgrid.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div align="center">
		<input type="button" value="チャットボットログ"
			onclick="location.href='/logview'"
			style="margin-top: 30px; text-align: center; width: 400px; height: 70px; border-radius: 0.5em; background-color: #778899; font-size: 30px; font-color: black;">
		<br>
		<input type="button" value="フォトログ"
			onclick="location.href='/Account'"
			style="margin-top: 30px; text-align: center; width: 400px; height: 70px; border-radius: 0.5em; background-color: #4682b4; font-size: 30px;">
		<br>
		<input type="button" value="ランキング"
			onclick="location.href='/logview'"
			style="margin-top: 30px; text-align: center; width: 400px; height: 70px; border-radius: 0.5em; background-color: #778899; font-size: 30px; font-color: black;">
		<br>
		<input type="button" value="アカウント"
			onclick="location.href='/Account'"
			style="margin-top: 30px; text-align: center; width: 400px; height: 70px; border-radius: 0.5em; background-color: #4682b4; font-size: 30px;">
		<br>
		<a href="#" class="buttons5" type="submit">BUTTON</a>

		</sec:http>
	</div>
	</div>

	<script>



  if (num.equals("ADMIN"))
  {
    document.getElementById("vis").style.visibility="visible";
  }
  else
  {
    document.getElementById("vis").style.visibility="hidden";
  }
	/*
}

</script>

</body>
</html>
