<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: base_header(~{::link},'Home')">
<link href="/stylesheets/jquery.bootgrid.css" rel="stylesheet" />
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div align="center">
		<input type="button" value="ViewLog"
			onclick="location.href='/logview'"
			style="margin-top: 30px; class: glyphicon glyphicon-list; margin-right: 10px; text-align: center; width: 400px; height: 70px; border-radius: 0.5em; background-color: #778899; font-size: 30px; font-color: black;">
		<input type="button" value="(●●●●●●)"
			onclick="location.href='/Account'"
			style="margin-top: 30px; margin-left: 10px; text-align: center; width: 400px; height: 70px; border-radius: 0.5em; background-color: #4682b4; font-size: 30px;">

		<sec:http auto-config="true" use-expressions="true">
			<sec:intercept-url pattern="/user/*"
				access="hasAuthorityRole('ROLE_USER')" />
			<input id="vis" type="button" value="アカウント登録"
				onclick="location.href='/signup'">
		</sec:http>
	</div>
	</div>

<form>
<input type="button" value="表示" onclick="hyoji2(0)">
<input type="button" value="非表示" onclick="hyoji2(1)">
</form>

<script>

function hyoji1(num)
{
  if (num == 0)
  {
    document.getElementById("visi").style.visibility="visible";
  }
  else
  {
    document.getElementById("visi").style.visibility="hidden";
  }
}

</script>

</body>
</html>
