<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: base_header(~{::link},'index')">
<link href="/stylesheets/jquery.bootgrid.css" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
    <h1>ユーザ情報</h1>
    <p>現在、下記のユーザでログインしています。</p>
    <dl>
        <dt>username</dt>
        <dd th:text="${user.username}">username</dd>
        <dt>password</dt>
        <dd th:text="${user.password}">password</dd>
    </dl>
</body>
</html>