<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: base_header(~{::link},'index')">
<link href="/stylesheets/jquery.bootgrid.css" rel="stylesheet" />
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div id="visi">この文章を表示したり消したりします。</div>

	<form>
		<input type="button" value="表示" onclick="hyoji2(0)"> <input
			type="button" value="非表示" onclick="hyoji2(1)">
	</form>

	<script>
		function hyoji2(num) {
			int num = 1;
			if (num == 0) {
				document.getElementById("visi").style.visibility = "visible";
			} else {
				document.getElementById("visi").style.visibility = "hidden";
			}
		}
	</script>
</body>
</html>
